.residence-card {
  background-color: #FCFFFD; 
  border: 1px solid #93BCBF; 
  border-radius: 8px; 
  overflow: hidden; 
  width: 326px; 
  height: 360px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  display: flex;
  flex-direction: column; 
  transition: transform 0.3s ease-in-out; 
  position: relative;
}

.residence-card:hover {
  transform: translateY(-10px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card-image {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
  display: block;
  z-index: 1;
}

.card-info {
  padding: 1rem; 
  display: flex;
  flex-direction: column;
  gap: 0.2rem; 
  flex: 1; 
  overflow: hidden; 
  background: none;
  z-index: 2;
}

.card-price {
  font-size: 1.1rem;
  font-weight: semibold;
  color: #5B7C65; /* Verde mais escuro para o preço */
}

.card-title {
  color: #293E40;
}

.card-description {
  font-size: 0.9rem;
  color: #293E40;
  line-height: 1.4;
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body.dark .residence-card {
  background-color: #293E40 !important;
  border: 1px solid #C3D3C2;
  color: #293E40;
}

body.dark .card-title,
body.dark .card-description,
body.dark .card-price {
  color: #293E40;
}

@media (max-width: 650px) {
  .residence-card {
    width: 100%; 
    max-width: 326px; 
    height: 360px; 
  }

  .residence-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
  }
} 