.filter-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.24); 
  z-index: 100; 
}

.filter-modal-content {
  position: fixed;
  top: 245px; 
  right: 40px;
  background: #FFFEFC;
  padding: 10px;
  border-radius: 7px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.10);
  width: 520px;
  max-width: 95vw;
  max-height: 65vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  z-index: 101; 
  height: 320px;
  font-size: 0.85rem;
}

.filter-section {
  margin-bottom: 8px;
}

.filter-section h4 {
  margin-bottom: 4px;
  font-size: 0.875rem;
  stroke: normal;
  color: #293E40;
}

.filter-section input::placeholder{
  color: #293E40;
}

body.dark .filter-section input::placeholder {
  color: #F7FCFC; /* Cor do placeholder no modo noturno */
}

.filter-section input[type="text"], 
.filter-section select {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #507073;
  color: #293E40;
  border-radius: 4px;
  font-size: 0.85rem;
  box-sizing: border-box;
}

.filter-option-tag {
  display: inline-flex;
  align-items: center;
  background-color: #E1EBDB;
  color: #293E40;
  padding: 2px 6px;
  border-radius: 16px;
  margin-right: 4px;
  margin-bottom: 2px;
  font-size: 0.78rem;
  cursor: pointer;
}

.remove-filter {
  margin-left: 8px;
  font-weight: bold;
  cursor: pointer;
  color: #004d40;
}

.filter-actions {
  display: flex;
  justify-content: flex-start;
  gap: 15px;
  margin-top: -10px;
}

.filter-actions button {
  padding: 5px 10px;
  width: 105px;
  height: 39px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.88rem;
}

.remove-button {
  background-color: #FFFEFC;
  color: #293E40 !important;
  border: 1px solid #293E40 !important;
}

.filter-button {
  background-color: #293E40;
  color: #F7FCFC !important;
}

.remove-button:hover {
  background-color: #ddd;
}

.filter-button:hover {
  background-color: #3C5759;
}

.filter-row {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.filter-row .filter-section {
  flex: 1;
}



/* Responsivo */
@media (max-width: 768px) {
  .filter-modal-content {
    right: 5%;
    left: 5%;
    top: 80px;
    width: auto;
  }
}



@media (max-width: 600px) {
  .filter-row {
    flex-direction: column;
    gap: 0;
  }
  .filter-section {
    margin-right: 0 !important;
  }
}

@media (max-width: 480px) {
  .filter-row {
    flex-direction: column;
  }
}

.imoveis-filter-input input {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}
