main {
  padding: 60px 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section_two {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*CARDS */
.consultores-grid {
  display: flex;
  flex-direction: column;
  gap: 12px; /* Espaçamento vertical entre os cards */
}

.equipe-card {
  display: flex;
  gap: 16px;
  background: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.equipe-card-img img.equipe-card-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.equipe-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.equipe-card-area {
  font-weight: 600;
  color: #555;
  margin-bottom: 4px;
}

.equipe-card-nome {
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 4px;
  color: #222;
}

.equipe-card-desc {
  font-size: 0.95rem;
  color: #666;
}

.section_two h1 {
  color: #293e3f;
  font-size: 24px;
}

.equipe-title {
  font-size: 28px;
  font-weight: 700;
  color: #293e3f;
  margin-bottom: 10px;
}

.equipe-desc {
  font-size: 1.1rem;
  color: #444;
  max-width: 480px;
}
